@inject HttpClient Http
<ul class="list-unstyled">
    @foreach (var p in _products)
    {
        <li class="media mt-3">
            <div class="media-img-wrapper">
                <a href="#">
                    <img class="media-img" src="@p.ImagePath" alt="@p.Titolo" />
                </a>
            </div>
            <div class="media-body">
                <a href="#">
                    <h4 class="mb-0">@p.Titolo</h4>
                </a>
                <p>@p.Descrizione</p>
                <h5 class="price">
                    $@p.Prezzo
                </h5>
            </div>
        </li>
    }
</ul>

@code
{
    private static List<Product>? _products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        _products= await Http.GetFromJsonAsync<List<Product>>("api/product");
    }
}