.media-img[b-usvnx4y0w9]{
    max-width: 200px;
    max-height: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
    text-align: center;
    margin-right: 50px;
}

.media-img:hover[b-usvnx4y0w9]{
    transform: scale(1.1);
}

.media[b-usvnx4y0w9]{
    display: flex;
    align-items: flex-start;
}

.media-body[b-usvnx4y0w9]{
    flex: 1;
}

.price[b-usvnx4y0w9]{
    color: green;
}

@media (max-width: 1023.98px) {
    .media[b-usvnx4y0w9]{
        flex-direction: column;
    }
    .media-img-wrapper[b-usvnx4y0w9]{
        width: auto;
        height: auto;
    }
}