/* /Shared/EshopAdn.razor.rz.scp.css */
.page[b-mw30291bn9] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-mw30291bn9] {
    flex: 1;
}

.nav-menu[b-mw30291bn9] {
    background-image: linear-gradient(180deg, rgb(9, 130, 175) 0%, #04678a 70%);
}

.top-row[b-mw30291bn9] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-mw30291bn9]  a, .top-row[b-mw30291bn9]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-mw30291bn9]  a:hover, .top-row[b-mw30291bn9]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-mw30291bn9]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-mw30291bn9] {
        display: none;
    }

    .top-row.auth[b-mw30291bn9] {
        justify-content: space-between;
    }

    .top-row[b-mw30291bn9]  a, .top-row[b-mw30291bn9]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-mw30291bn9] {
        flex-direction: row;
    }

    .top-row[b-mw30291bn9] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-mw30291bn9]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-mw30291bn9], article[b-mw30291bn9] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/FeaturedProduct.razor.rz.scp.css */
.container[b-0prgqwvzzn]{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: center;
}

img[b-0prgqwvzzn]{
    max-width: 200px;
    max-height: 200px;
    border-radius: 6px;
    transition: transform 0.2s;
    margin-bottom: 10px;
}
img:hover[b-0prgqwvzzn]{
    transform: scale(1.1) rotate(5deg);
}
.featured-product[b-0prgqwvzzn]{
    margin:10px;
    text-align: center;
    padding: 10px;
    border: 1px solid lightblue;
    max-width: 200px;
}
@media (max-width: 1023.98px) {
    .container[b-0prgqwvzzn]{
        justify-content: flex-start;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-cw7m3bv942] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-cw7m3bv942] {
    flex: 1;
}

.sidebar[b-cw7m3bv942] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-cw7m3bv942] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-cw7m3bv942]  a, .top-row[b-cw7m3bv942]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-cw7m3bv942]  a:hover, .top-row[b-cw7m3bv942]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-cw7m3bv942]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-cw7m3bv942] {
        display: none;
    }

    .top-row.auth[b-cw7m3bv942] {
        justify-content: space-between;
    }

    .top-row[b-cw7m3bv942]  a, .top-row[b-cw7m3bv942]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-cw7m3bv942] {
        flex-direction: row;
    }

    .sidebar[b-cw7m3bv942] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-cw7m3bv942] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-cw7m3bv942]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-cw7m3bv942], article[b-cw7m3bv942] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-zpuvmlov1z] {
    color: rgba(255, 255, 255, 0.1);
}

.top-row[b-zpuvmlov1z] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-zpuvmlov1z] {
    font-size: 1.1rem;
}

.oi[b-zpuvmlov1z] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-zpuvmlov1z] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
    .nav-item[b-zpuvmlov1z]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-zpuvmlov1z]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-zpuvmlov1z]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.flex-nav[b-zpuvmlov1z]{
    flex-direction: column;
}

@media (min-width: 641px) {
    .navbar-toggler[b-zpuvmlov1z], .navbar-toggler-wrapper[b-zpuvmlov1z] {
        display: none;
    }

    .flex-nav[b-zpuvmlov1z]{
        flex-direction: row;
        display: flex;
    }

    .collapse[b-zpuvmlov1z] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/ProductList.razor.rz.scp.css */
.media-img[b-usvnx4y0w9]{
    max-width: 200px;
    max-height: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
    text-align: center;
    margin-right: 50px;
}

.media-img:hover[b-usvnx4y0w9]{
    transform: scale(1.1);
}

.media[b-usvnx4y0w9]{
    display: flex;
    align-items: flex-start;
}

.media-body[b-usvnx4y0w9]{
    flex: 1;
}

.price[b-usvnx4y0w9]{
    color: green;
}

@media (max-width: 1023.98px) {
    .media[b-usvnx4y0w9]{
        flex-direction: column;
    }
    .media-img-wrapper[b-usvnx4y0w9]{
        width: auto;
        height: auto;
    }
}
